{% extends "base.html" %}
{% load static %}

{% block content %}


<div class="bg-light">
    <div class="container ">
        <div class="row h-100 align-items-center py-5">
            <div class="col-lg-6">
                <h1>About Omkar Organization</h1>
                <p class="lead text-muted mb-0">Ink Solution for Quality- Printer and Copier .</p>

                <div class="row">

                    <div class="col-6">
                        <div class="box mt-5">
                            <h6 class="text-muted mb-3">Showroom Location:</h6>
                            <div class="itemside  mb-3">
                                <div class="aside">
                                    <i class="icon-xs bg-secondary rounded-circle fa fa-map-marker white"></i>
                                </div>
                                <div class="info">
                                    <p>Putalisadak Chowk</p>
                                    <small>(attached to Krishi Bikash Bank)</small>
                                </div>
                            </div>
        
                            <div class="itemside mb-3">
                                <div class="aside">
                                    <i class="icon-xs bg-success rounded-circle fa fa-phone-alt white"></i>
                                </div>
                                <div class="info">
                                    <p>01-4411115</p>
                                </div>
                            </div>
        
                            <div class="itemside">
                                <div class="aside">
                                    <i class="icon-xs bg-danger rounded-circle fa fa-envelope white"></i>
                                </div>
                                <div class="info">
                                    <p>info@omkarorg.com</p>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-6">
                        <div class="box mt-5">
                            <h6 class="text-muted mb-3">Corporate Office Location:</h6>
                            <div class="itemside  mb-3">
                                <div class="aside">
                                    <i class="icon-xs bg-secondary rounded-circle fa fa-map-marker white"></i>
                                </div>
                                <div class="info">
                                    <p>3rd Floor, Computer Bazar</p>
                                    <small>Putalisadak, Kathamndu</small>
                                </div>
                            </div>
        
                            <div class="itemside mb-3">
                                <div class="aside">
                                    <i class="icon-xs bg-success rounded-circle fa fa-phone-alt white"></i>
                                </div>
                                <div class="info">
                                    <p>01-4421022, 01-4416804</p>
                                </div>
                            </div>
        
                            <div class="itemside">
                                <div class="aside">
                                    <i class="icon-xs bg-danger rounded-circle fas fa-globe white"></i>
                                </div>
                                <div class="info">
                                    <p>www.omkarorg.com</p>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <div class="col-lg-6 d-none d-lg-block"><img
                    src="https://res.cloudinary.com/mhmd/image/upload/v1556834136/illus_kftyh4.png" alt=""
                    class="img-fluid"></div>
        </div>
    </div>
</div>

<div class="bg-white py-5">
    <div class="container ">
        <div class="row align-items-center mb-5">
            <div class="col-lg-6 order-2 order-lg-1"><i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
                <h2 class="">Company Profile</h2>
                <p class="text-muted mb-4">

                    Founded in 2012, The company merged with three major technology companies (Smart Office
                    International, Omkar Business House and ACME Technology) and grew with a strong R&D background, and
                    the whole team is committed to staying at the leading edge of the Toner Refilling, Printer/Copier
                    maintenance. <br><br>

                    Omkar Organization, is a leading Toner Refilling, Printer/Copier maintenance, AIDC (automatic
                    identification and data collection) and POS solution provider. It was a toner refilling, IT trading
                    company and had soon expanded and become a Sole Authorized Distributor of TYSSO AND DATAVAN in the
                    POS terminal system and AIDC market in 2018. Our products and services are widely used in various
                    industries such as finance, medical services, sports, recreation, retail and hospitality, and won a
                    number of customers nationwide.
                </p>
            </div>
            <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img
                    src="https://res.cloudinary.com/mhmd/image/upload/v1556834139/img-1_e25nvh.jpg" alt=""
                    class="img-fluid mb-4 mb-lg-0"></div>
        </div>

        <div class="row align-items-center">
            <div class="col-lg-5 px-5 mx-auto"><img
                    src="https://res.cloudinary.com/mhmd/image/upload/v1556834136/img-2_vdgqgn.jpg" alt=""
                    class="img-fluid mb-4 mb-lg-0"></div>
            <div class="col-lg-6"><i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
                <h2 class="">Organizational Culture</h2>

                <h5 class=" text-left mt-4">Mission</h5>
                <p class="text-muted mb-4">Sustainable technical solutions to help people increase productivity, reduce
                    costs and minimize risks.</p>

                <h5 class="text-left mt-4">Vision </h5>
                <p class="text-muted mb-4">To be the first-choice service provider after product sales.</p>

                <h5 class="text-left mt-4">Values </h5>
                <p class="text-muted mb-4">
                    Customer First; Stable; Aggressive; Team Oriented.</p>

                <h5 class=" text-left mt-4">Philosophy</h5>
                <p class="text-muted mb-4">Innovation; Responsible for global environment, Respect people and create a
                    responsive workplace.</p>
            </div>
        </div>
    </div>
</div>

<div class="bg-light py-5">
    <div class="container ">
        <div class="row mb-4">
            <div class="col-lg-5">
                <h2 class="">Our team</h2>
                <p class=" text-muted">Get to know our team members.</p>
            </div>
        </div>

        <div class="row text-center">

            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img
                        src="https://res.cloudinary.com/mhmd/image/upload/v1556834130/avatar-3_hzlize.png" alt=""
                        width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Alok Baral</h5><span class="small text-uppercase text-muted">CEO - Founder</span>

                </div>
            </div>

        </div>
    </div>
</div>






{% endblock %}