{% extends "base.html" %}
{% load static %}




{% block content %}
<div class="row justify-content-center container mx-auto">
	<div class='col-md-8'>

		<h2 class="title-page my-4">Add New Service</h2>
		<form method="POST" enctype="multipart/form-data">
			{% csrf_token %}

			<div class="card">
				<div class="card-body">
					<div class="row">
						<div class="col-6">
							<div class="form-group">
								<label>Customer Name</label>
								{{form.customer_name}}
							</div>
						</div>

						<div class="col-6">
							<div class="form-group">
								<label>Unique Tracking Code</label>
								{{ form.tracking_code}}
							</div>
						</div>
					</div>

					<div class="form-group">
						<label>Product Name</label>
						{{form.product_name}}
					</div>

					<div class="row">
						<div class="col-md-4">
							<div class="form-group">
								<label for="username">Service Cost</label>
								{{form.price}}
							</div>
						</div>

						<div class="col-md-4">
							<div class="form-group">
								<label>Estimate Time</label>
								{{form.estimate_time}}
							</div>
						</div>

						<div class="col-md-4">
							<div class="form-group">
								<label>Service Status</label>
								{{form.status}}
							</div>
						</div>
					</div>

					<div class="form-group">
						<label>Note</label>
						{{form.note}}
					</div>
				</div>
			</div>

			<button class="btn btn-success btn-block my-4" type="summit">Add New Service</button>
		</form>

	</div>
</div>

<div class="row mt-5 justify-content-center container mx-auto">
	<div class="col-md-10">
		{% for i in object_list %}
		<article class="card mb-5 border-primary">
			<header class="card-header border-primary">
				<strong class="d-inline-block mr-3">Tracking Code: {{ i.tracking_code }}</strong>
				<span>Customer's Name : {{ i.customer_name }}</span>

				{% if i.updated_at %}
					<span class="float-right small font-weight-bold"><i class="far fa-clock mr-1"></i>Last Updated: {{ i.updated_at|timesince }} ago</span>
				{% else %}
					<span class="float-right small b"><i class="far fa-clock mr-1"></i>Last Updated: {{ i.published|timesince }} ago</span>
				{% endif %}

			</header>
			<div class="table-responsive">
				<table class="table table-hover">
					<tbody>
						<tr>
							<td width="300">
								<h6>{{i.product_name}}</h6>
								<var class="price text-muted">Service Cost : Rs. {{ i.price }}</var>
							</td>

							<td width="150">
								<h6>Status:</h6>
								{{i.get_status_display}}
							</td>

							<td width="200">
								<h6>Estiamted Time:</h6>
								{{i.estimate_time}}
							</td>

							<td>
								<h6>Note:</h6>
								{{i.note}}
							</td>

						</tr>

					</tbody>
				</table>
			</div>
		</article>
		{% endfor %}
	</div>
</div>










<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>


<script>
	// This code activates flatpickr on fields with the 'datetimefield' class when the document has loaded
	window.addEventListener("DOMContentLoaded", function () {
		flatpickr(".datetimefield", {
			enableTime: true,
			enableSeconds: true,
			dateFormat: "Y-m-d H:i:S",
		});
	});
</script>

{% endblock %}