{% extends "base.html" %}
{% load static %}

{% block content %}



<!-- <div class="d-flex justify-content-center align-items-center" style="height:485px;">
    <div class="w-50 mx-auto align-center">
        <h4 class="text-center mb-3 b"> Track Your Service </h4>

        <form action="{% url 'track-service' %}" method="get" class="search">
            <div class="input-group">
                <input name="search" value="{{ request.GET.search }}" type="text" class="form-control" placeholder="Search">
                <div class="input-group-append">
                  <button class="btn btn-primary" type="submit">
                    <i class="fa fa-search"></i>
                  </button>
                </div>
              </div>
          </form>
    </div> 

</div> -->



<section class="section-content container padding-y" style="min-height:84vh">

    <div class="mx-auto" style="margin-top:100px;">

        <h4 class="text-center mb-3 b"> Track Your Service </h4>

        <form action="{% url 'track-service' %}" method="get" class="search mx-auto" style="max-width:400px;">
            <div class="input-group">
                <input name="service" value="{{ request.GET.service }}" type="text" class="form-control"
                    placeholder="Enter your tracking code">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

    {% if request.GET.service %}
    <div class="row mt-5 justify-content-center">
        <div class="col-md-10">
            {% for i in object_list %}
            <article class="card mb-3 border-primary">
                <header class="card-header border-primary">
                    <strong class="d-inline-block mr-3">Tracking Code: {{ i.tracking_code }}</strong>
                    <span>Customer's Name : {{ i.customer_name }}</span>

                    <span class="float-right">
                        {% if user.is_authenticated %}
                        <a href="{% url 'update-service' i.slug %}" class="btn btn-sm btn-dark mr-2"><i class="fas fa-pencil-alt mr-2"></i></i>Update</a>
    
                        <a href="{% url 'remove_service' slug=i.slug %}" class="btn btn-sm btn-danger"><i class="fa fa-times mr-2"></i>Delete</a>
                        {% endif %}
                    </span>
                    
                    {% if i.updated_at %}
					<span class="float-right small font-weight-bold mr-3"><i class="far fa-clock mr-1"></i>Last Updated: {{ i.updated_at|timesince }} ago</span>
				    {% else %}
					<span class="float-right small b mr-3"><i class="far fa-clock mr-1"></i>Last Updated: {{ i.published|timesince }} ago</span>
				    {% endif %}

                    

                </header>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <td width="300">
                                    <h6>{{i.product_name}}</h6>
                                    <var class="price text-muted">Service Cost : Rs. {{ i.price }}</var>
                                </td>

                                <td width="150">
                                    <h6>Status:</h6>
                                    {{i.get_status_display}}
                                </td>

                                <td width="200">
                                    <h6>Estiamted Time:</h6>
                                    {{i.estimate_time}}
                                </td>

                                <td>
                                    <h6>Note:</h6>
                                    {{i.note}}
                                </td>

                            </tr>

                        </tbody>
                    </table>
                </div>
            </article>
            {% endfor %}
        </div>
    </div>
    {% endif %}

</section>


{% endblock %}